@media only screen and (max-width: 780px) {

    .intro {
        padding: 0 7rem 25rem;

        &::after {
            background-image: url("../../dist/images/bg-curvy-mobile.svg");
            background-size: cover;
        }

        .container-img {
            position: relative;
            z-index: 10;
        }
    }

    .container-secondary, .container-primary {
        padding: 0 6rem;
    }

    .col-2, .col-3 {
        width: 100%;
    }

    .main {

        .row-testimonials {

            .col-3 {
                margin: 0 0 4rem 0;
            }
    
            .col-second {
                margin: 0 0 4rem 0;
            }
        }
    }

    .footer {

        .container-access {
            margin: 0 4rem;

            p {
                margin: 0;
            }
            
            input {
                width: 100%;
                margin-top: 5rem;
            }

            .button {
                width: 100%;
            }
        }

        .container-primary {

            .col, .col-3 {
                width: 100%;
                flex-direction: column;
            }

            .col {

                .list {

                    &:first-child {
                        margin-bottom: 2rem;
                    }
                }
            }

            .col-1 {
                margin-top: 32rem;
            }

            .list {

                &:first-child {
                    margin-bottom: 10rem;
                }
            
                &:nth-child(2) {
                    margin-bottom: 14rem;
                }
            }

            .container-social-icon {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
    
    .intro {
        padding: 0 25rem 16rem;
    }

    .container-secondary {
        padding: 0 6rem;
    }

    .footer {

        .container-access {
            margin: 0 14rem;
        }
    }
}